@import "../../scss/global";

.container-error-page  {
    @include flex(center);
    @include banner('../../public/assets/not-found-page.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
  
.title-error-page {
    font-size: 3rem;
    color: black;
    margin-bottom: 20px;
}
  
.text-error-page {
    font-size: 2rem;
    color: #732c2c;
    text-align: center;
}