@import "../../scss/global";

// HOME
.home-main {
    background-color: $primary-color;
    @include banner('../../public/assets/banner-store.jpeg');
    background-size: cover;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    @include flex(center);

    h1 {
      @include title-1();
    }

    .brazilian-name{
      color: #009c3b;
    }
    .cafe-name{
      color: #ffdf00;
    }
  }
  
  
  
  //MENU

  .home-menu,
  .home-place,
  .home-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    picture img {
      width: 100%;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    }
  
    .home-text {
      text-align: center;
      margin: auto;
      max-width: 50ch;
      padding: 20px;
  
      p + p {
        margin-top: 50px;
        text-align: left;
      }
    }
  }
  
  @media (max-width: 1024px) {
    .home-menu,
    .home-place,
    .home-about {
      display: grid;
      grid-template-columns: 1fr;
  
      picture {
        grid-row: 1;
      }
  
      .home-text {
        padding: 80px 25px;
      }
    }
  }
  
  
  